@import 'header.styl'
@import 'important.styl'
// 移植
// @media (min-width: 1200px){
//   .container {
//     width: 1170px;
//   }
// }

// @media (min-width: 992px) {
//   .container {
//     width: 970px;
//   }
// }

// @media (min-width: 768px) {
// .container {
//     width: 750px;
//   }
// }

.container {
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;
    width: 1200px;
}

/*Floating*/
.fleft {
  float: left;
}
.fright {
  float: right;
}

.nav {
  margin-bottom: 0;
  padding-left: 0;
  list-style: none;
  li {
    float: left;
  }
}

.clearfix::after {
  display: block;
  content: "";
  clear: both;
}






.sectionTitle {
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 45px;
  color:#26B25C;
  margin-top:45px;

  h3 {
    font-family: 'Montserrat', sans-serif;

    &:after {
      height: 1px;
      width: 65px;
      content: '';
      background: #26B25C;
      margin: 15px auto;
      display: block;
    }
  }

  h5 {
    font-family: 'Montserrat', sans-serif;
  }
}
